body{
  background-color: #333;
}

*{
  color: white;
}
.main_app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.all_label{
  display: flex;
}

h4{
  font-size: 20px;
}

.all_label_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.label{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.length{
  margin: 0;
  font-size: 30px;
  color:  #CA5E07;
  font-weight: 600;
}

.break-button{
  display: flex;
}

.button{
  padding: 5px;
  font-size: 40px;
  cursor:pointer;
}

.timer{
  border: 2px solid #CA5E07;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#timer-label{
  margin: 0;
}

.timer-text{
  margin: 0;
  font-size: 60px;
  color: #CA5E07;
}

.pause-text{
  font-size: 35px;
}

#timer-button{
  flex-direction: row;
}